<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/style_profile.css}">
        <link rel="stylesheet" href="../static/css/style_profile.css">
</head>
<body>
<div class="header">
    <nav class="menu" id="nav">
            <span class="nav-item">
                <a th:href="@{/}">Главная</a>
            </span>
        <span class="nav-item active" sec:authorize="isAuthenticated()">
                <a th:href="@{/profile}">Профиль</a>
            </span>
        <span class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/admin-panel}">Админка</a>
            </span>
        <span class="nav-item" sec:authorize="!isAuthenticated()">
                <a th:href="@{/registration}">Регистрация</a>
            </span>
        <span class="nav-item" sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">Выйти</a>
            </span>
    </nav>
</div>
<div class="wrapper">
    <h1>Profile</h1><br>
    <span>Username: </span><span th:text="${username}"></span><br>
    <span>Role: </span><span sec:authorize="hasRole('ADMIN')" th:text="|ADMIN|"></span>
    <span sec:authorize="hasRole('USER')" th:text="|USER|"></span><br><br><hr>
    <span>Покупки:</span><br>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
        </tr>
    </table>
</div>
<div class="wrap_footer_content">
    <div class="wrap_button_page">
        <a th:if="${prev != null}" th:href="@{/profile/{prev}(prev=${prev})}" class="bttn-dark">Prev</a>
        <a th:if="${next != null}" th:href="@{/profile/{next}(next=${next})}" class="bttn">Next</a>
    </div>
</div>
</body>
</html>