<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Status-page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div id="status_wrap">
    <div th:if="${status.equals('OK200')}" th:text="|Товар был успешно куплен|" class="text_status">123</div>
    <div th:if="${status.equals('ERROR1')}" th:text="|Недостаточно денежных средств|" class="text_status"></div>
    <div th:if="${status.equals('ERROR2')}" th:text="|Не найден пользователь с данной системой платежа|" class="text_status"></div>
    <div id="wrap_status_button">
        <a th:href="@{/}">Вернуться на главную страницу</a>
        <a th:href="@{/product/{id}(id=${idProduct})}">Вернуться к товару</a>
    </div>
</div>
</body>
</html>